* {
    font-family: sans-serif;
}


body {
    padding: 2%;
    height: 100vh;
    
}

.darkmode {
    transition: all 500ms;
    background-color: rgb(85, 88, 88);
}

.lightmode {
    transition: all 500ms;
    background-color: rgb(255, 255, 255);
}

.light{ 
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(230, 230, 230);
}

.bluemode{
    background-image: linear-gradient(to right, rgb(216, 251, 255) , rgb(3, 255, 217));

}
.dark{ 
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(52, 52, 52);
}

.blue{
       height: 25px;
    width: 25px;
    border-radius: 50%;

    background-image: linear-gradient(to right, rgb(216, 251, 255) , rgb(3, 255, 217));

}

.activated {
   
    transition: all 0.5s;
    transform: scale(1.5);
    box-shadow: 0px 2px 2px 1px;

}


.Main-container {
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: transparent;
}


header img {
    width: 50px;
}

header {
    display: flex;
    color: rgb(94, 94, 94);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 1.5%;
    box-shadow: 1px 2px 10px 2px;
    padding-right: 5%;
    width: 80vw;
    height: 55px;
    background-color: white;
}

header div {
    gap: 20px;
    display: flex;
    color: rgb(94, 94, 94);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    align-items: center;
}









form {

    height: 3.5rem;
    display: flex;
    align-items: center;
    border: solid 1px black;
    width: 30rem;
    padding: 2%;
    background-color: white;

    border-radius: 5px;

}

input {
    width: 100%;
    height: 100%;
    border: none
}

.addtask {
    height: 40px;
    width: 120px;
    color: white;
    background-color: green;
    border: none;

    border-radius: 5px;
}

.clearAll {
    height: 40px;
    width: 120px;
    color: white;
    background-color: rgb(24, 124, 167);
    border: none;

    border-radius: 5px;
}



.showtask {
    display: flex;
    color: rgb(94, 94, 94);
    font-size: 15px;
    flex-direction: column;
    font-weight: 700;
    text-align: center;
    align-items: start;
    justify-content: space-evenly;


    padding: 1.5%;
    box-shadow: 1px 2px 10px 2px;
    padding-right: 5%;
    flex-wrap: wrap;
    background-color: white;
    width: 80vw;
    gap: 30px;
}

.head {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.head div {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.count {
    background-color: rgb(216, 212, 212);
    width: 30px;
    height: 30px;
    padding: 5%;
    font-size: 15px;
    border-radius: 50%;
}


ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}




ul li {
    border: solid rgb(155, 155, 155) 2px;
    display: flex;
    align-items: center;
    width: 15rem;
    text-align: center;
    justify-content: center;
    height: 80px;
    border-radius: 10px;
    border-left: rgb(24, 104, 189) 5px solid;
    justify-content: space-between;
}

ul li div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    padding: 5%;
    justify-content: space-between;
}

.time {
    font-size: 10px;
}


.name {
    display: flex;
    height: 30px;
    width: 20px;
}